<!-- <div class="p-dialog-title">xyz</div>-->
<div class="p-dialog" [style]="{ width: '100%' }">
  <!-- <div class="p-dialog-titlebar"> -->
  <div class="p-dialog-header">
    Car component
    <!-- <div class="p-dialog-titlebar">Car component</div> -->
    <div class="p-dialog-header-icons">
      <button
        type="button"
        (click)="selectdata('return data')"
        pButton
        icon="p-dialog-titlebar-close"
        label="close"
      ></button>
    </div>
  </div>
  <!-- </div> -->
  <div class="p-dialog-content">
    <!-- <button
      type="button"
      (click)="selectdata('return data')"
      pButton
      icon="pi pi-info-circle"
      label="close"
    ></button> -->

    <span
      ><br />English essays are more formulaic than you might think – and, in
      many wayses and paraphrase from your sources, but NEVER plagiarize. Write
      a Draft: Ernest Hemingway once said, “The first draft of anything is
      always crap.” While the truth behind this statement is debatable, drafts
      areasdasasdasdasfaefweofiweifiweifinewf
    </span>
  </div>

  <div class="p-dialog-footer">
    <button
      type="button"
      (click)="selectdata('return data')"
      pButton
      icon="pi pi-info-circle"
      label="close"
    ></button>
  </div>
</div>
